@inject CustomAuthState authState

@implements IDisposable 

@inherits LayoutComponentBase

<div class="header">
    <div class="header-logo center-flex">
        <a class="logo" href="">Connectivity Tracker</a><span id="page-title"></span>
    </div>
    <div class="">
        <LoginDisplay />
    </div>
    <NavMenu IsAdmin="authState.IsAdmin" IsLeader="authState.IsLeader"/>
</div>

<div class="main">
    @Body
</div>

@code{
    protected override void OnInitialized()
    {
        authState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        authState.OnChange -= StateHasChanged;
    }
}