@inject NavState navState
@implements IDisposable 

@inherits LayoutComponentBase

<div class="header">
    <div class="header-logo center-flex">
        <a class="logo" href="">Connectivity Tracker</a><span id="page-title"></span>
    </div>
    <div class="">
        <LoginDisplay />
    </div>
    <NavMenu IsAdmin="navState.IsAdmin" IsLeader="navState.IsLeader"/>
</div>

<div class="main">
    @Body
</div>

@code{
    protected override void OnInitialized()
    {
        navState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        navState.OnChange -= StateHasChanged;
    }
}