<div class="navbar-logo">
    <a class="logo no-link-style" href="">Connectivity Tracker</a><span id="page-title"></span>
</div>

<div class="navbar-menu">
    <ul class="">
        <li class="divider unselectable">|</li>
        <li class="navbar-option">
            <NavLink class="no-link-style" href="dashboard">
                <span class="" aria-hidden="true"></span>Dashboard
            </NavLink>
        </li>
        <li class="divider unselectable">|</li>
        <li class="navbar-option">
            <NavLink class="no-link-style" href="">
                <span class="" aria-hidden="true"></span>My team
            </NavLink>
        </li>
        <li class="divider unselectable">|</li>
        <li class="navbar-option">
            <NavLink class="no-link-style" href="">
                <span class="" aria-hidden="true"></span>All teams
            </NavLink>
        </li>
        <li class="divider unselectable">|</li>
    </ul>
</div>