<div class="expand-nav center-flex" onclick="openNav()">>></div>
<nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" class="menu-option bottom-border">Home</a>
    <a href="#" class="menu-option bottom-border">Dashboard</a>
    <a href="#" class="menu-option bottom-border">Team</a>
    <a href="#" class="menu-option">Create Team</a>
</nav>