@inject HttpClient Http
@inject IControllerConnection apiConn

<div class="expand-nav center-flex" onclick="openNav()">>></div>
<nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/" class="menu-option bottom-border">Home</a>
    <a href="/dashboard" class="menu-option bottom-border">Dashboard</a>
    <a href="#" class="menu-option bottom-border">Team</a> <!-- only visible if user is a team lead -->
    @if (isAdmin)
    {
        <a href="/create-team" class="menu-option">Create Team</a>
    }
</nav>

@code{
    private bool isAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        isAdmin = await apiConn.IsAdmin(Http);
    }
}