@inject IControllerConnection ApiConn
@inject HttpClient Http

<div class="expand-nav center-flex" onclick="openNav()"><i class="fas fa-angle-double-right"></i></div>
<nav id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/" class="menu-option bottom-border">Home</a>
    <a href="/dashboard" class="menu-option bottom-border">Dashboard</a>
    @if (IsLeader)
    {
        <a href="/my-team" class="menu-option bottom-border">My Team</a>
        <a href="/manage-team/@hashedTeamId" class="menu-option bottom-border">Manage Team</a>
    }
    @if (IsAdmin)
    {
        <a href="/create-team" class="menu-option">Create Team</a>
        <a href="/view-teams" class="menu-option">View Teams</a>
        <a href="/move-members" class="menu-option">Move Members</a>
        <a href="/comm-points" class="menu-option">Manage Mediums</a>
    }
</nav>

@code{
    [Parameter]
    public bool IsAdmin { get; set; }
    [Parameter]
    public bool IsLeader { get; set; }

    private string hashedTeamId = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (IsLeader)
        {
            hashedTeamId = await ApiConn.GetHashedTeamId();
        }
    }
}