<div class="no-access">
    <!-- Image source: https://www.iconexperience.com -->
    <img src="/images/lock.png" alt="Lock icon">
    <h1>Access Restricted</h1>
    <p>You do not have permission to access this page.</p>
    <a href="/">Go back</a>
</div>

@code {

}
