* {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Misc */

.arrow {
    border: solid black;
    border-width: 0 1em 1em 0;
    display: inline-block;
    padding: 1em;
    font-size: 30%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.display-none {
    display: none;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

/* END of Misc */

/* Navbar */
.navbar {
    width: 90vw;
    height: 4vh;
    padding: 1vh 4vw;
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #333;
    min-height: 3em;
}

.navbar-logo {
    float: left;
    width: 18%;
}

.logo {
    font-size: 1.5em;
    font-weight: 500;
}

.navbar-menu,
.logout-display {
    float: left;
}

.navbar-menu {
    width: 55%;
    margin-left: 5%;
}

.navbar-option,
.divider {
    display: inline;
    float: left;
    width: 5%;
    padding: 1% 2%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

.navbar-option {
    width: 15%;
    text-align: center;
}

    .navbar-option:hover {
        background-color: rgb(109, 109, 109);
        color: rgb(241, 241, 241);
        cursor: pointer;
        border-radius: 5px;
    }

.logout-display {
    float: right;
    width: 17%;
    padding: 1em;
    font-size: 1.1em;
}

    .logout-display > p:hover {
        cursor: pointer;
    }

    .logout-display > p > i {
        margin-left: 2em;
    }

#dropdown {
    width: 100%;
    margin-top: 1em;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(109, 109, 109);
    height: 20%;
    padding: 2%;
}

    #dropdown > hr {
        width: 90%;
        margin: auto;
    }

.navbar-name,
.logout-button {
    padding: 3% 5%;
    width: 90%;
}

.logout-button,
.login-button {
    margin-bottom: 1em;
    color: rgb(241, 241, 241);
    border: 1px solid black;
    border-radius: 15px;
}

.logout-button {
    margin-left: 5%;
    background-color: rgb(160, 0, 0);
    font-size: 1em;
}

.login-button {
    float: right;
    width: 10%;
    height: 100%;
    padding: 0.6em;
    font-size: 1.1em;
    background-color: rgb(4, 137, 4);
}

    .logout-button:hover,
    .login-button:hover {
        cursor: pointer;
    }

.logout-button:hover {
    background-color: rgb(92, 0, 0);
}

.login-button:hover {
    background-color: rgb(6, 90, 6);
}

/* END of Navbar */

.main {
    width: 95%;
    height: 85vh;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}

.unselectable {
    /* Firefox */
    -moz-user-select: none;
    /* iOS and Safari */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* IE */
    -ms-user-select: none;
    user-select: none;
    /* Opera  */
    -o-user-select: none;
    user-select: none;
}
