* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Misc */

.arrow {
    border: solid black;
    border-width: 0 1em 1em 0;
    display: inline-block;
    padding: 1em;
    font-size: 30%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.display-none {
    display: none;
}

.no-link-style {
    text-decoration: none;
    color: inherit;
}

.unselectable {
    /* Firefox */
    -moz-user-select: none;
    /* iOS and Safari */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    /* IE */
    -ms-user-select: none;
    user-select: none;
    /* Opera  */
    -o-user-select: none;
    user-select: none;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END of Misc */

/* Navbar */
.header {
    display: flex;
    width: 90vw;
    height: 10vh;
    padding: 1em;
    margin: auto;
    border-bottom: 1px solid gray;
}

.header-logo {
    width: 20vw;
    margin: auto;
}

    .header-logo > .logo {
        font-size: 2em;
        color: black;
        text-decoration: none;
    }

    .header-logo > #page-title {
        font-size: 1.5em;
    }

.login-logout-section {
    position: fixed;
    right: 0;
    width: 25vw;
    height: 6vh;
    margin-right: 5vw;
}

.login-button {
    width: 13vw;
    height: 6vh;
    max-height: 3.5em;
    max-width: 15em;
    border: 1px solid black;
    color: white;
    background-color: rgb(4, 137, 4);
    border-radius: 9px;
}

    .login-button:hover {
        background-color: rgb(1, 82, 1);
        cursor: pointer;
    }

.logout-display > p > i {
    margin-left: 2em;
}

.logout-display > p:hover {
    cursor: pointer;
}

#dropdown {
    position: absolute;
    width: 15vw;
    height: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

.header-username {
    position: relative;
    width: 100%;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.logout-button {
    background-color: rgb(160, 0, 0);
    width: 100%;
    height: 2.5em;
    margin: 0.5em 0;
    font-size: 1em;
    color: white;
    border-radius: 15px;
}
/* END of Navbar */

.main {
    width: 95%;
    height: 85vh;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}

/* Dashboard */
.dashboard {
    position: absolute;
    width: 100%;
    height: 100%;
}

.topRow {
    float: left;
    width: 100%;
}

.dateRange {
    width: 20%;
    height: 5%;
    float: left;
    margin-left: 1em;
}

.textSummary {
    float: left;
    width: 75%;
}

    .textSummary > p {
        float: left;
        margin: 1em 6em;
    }

.topCollaborators {
    width: 20%;
    height: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 1em;
}

    .topCollaborators > h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid black;
    }

.collaboratorsList {
    width: 100%;
    height: 80%;
    margin-top: 1em;
    border: 1px solid red;
}
/* END of Dashboard */

/* Adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav*/
/* Side menu */
.sidenav {
    height: 20rem;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40vh;
    left: 0;
    background-color: rgb(252, 249, 249);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4em;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 0 15px 15px 0;
}

    .sidenav a {
        text-decoration: none;
        font-size: 1.3em;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav .closebtn:hover {
        color: red;
    }

.menu-option {
    padding: 0.5em 1em;
    text-align: center;
}

    .menu-option:hover {
        color: #3d3d3d;
        background-color: aqua;
    }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 2em;
    margin-left: 50px;
}

.expand-nav {
    position: absolute;
    height: 6vh;
    width: 2vw;
    background-color: rgb(196, 195, 195);
    top: 47vh;
    left: 0;
    font-weight: 900;
    border-radius: 0 15px 15px 0;
}

    .expand-nav:hover {
        cursor: pointer;
        background-color: rgb(124, 124, 124);
        color: white;
    }
/* End of side menu */

.emails-chart-container {
    width: 40%;
    height: 45%;
    float: left;
    margin: 5em;
}
