.header {
	display: flex;
	width: 90vw;
	height: 10vh;
	padding: 1em;
	margin: auto;
	border-bottom: 1px solid gray;
}

.header-logo {
	position: absolute;
	width: 90vw;
	margin-top: 1em;
	text-align: center;
}
.header-logo > .logo {
	font-size: 2em;
	color: black;
	text-decoration: none;
}

.header-logo > #page-title {
	font-size: 1.5em;
}

.back-to-team {
	width: 10em;
	height: 6em;
}

.back-to-team > button {
	background-color: #fff;
	width: 100%;
	height: 4em;
	margin-top: 2em;
	border-radius: 15px;
	font-size: 1em;
}

.back-to-team > button:hover {
	background-color: rgb(219, 219, 219);
}

.login-logout-section {
	position: fixed;
	right: 0;
	width: 25vw;
	height: 6vh;
	margin-right: 5vw;
}

.login-logout-section,
#dropdown {
	z-index: 2;
}

.select-member,
.save-team,
.login-button {
	max-height: 3.5em;
	max-width: 15em;
	border: thin solid black;
}

.select-member {
	background-color: rgb(255, 187, 0);
	color: rgb(31, 30, 30);
}

.save-team,
.login-button {
	background-color: rgb(4, 137, 4);
	color: white;
}

.login-button {
	width: 13vw;
	height: 6vh;
	background-color: rgb(4, 137, 4);
	border-radius: 9px;
}

.save-team:hover,
.login-button:hover {
	background-color: rgb(1, 82, 1);
	cursor: pointer;
}

.select-member:hover {
	background-color: rgb(201, 147, 0);
	cursor: pointer;
}

.logout-display > p > i {
	margin-left: 2em;
}

.logout-display > p:hover {
	cursor: pointer;
}

#dropdown {
	position: absolute;
	width: 15vw;
	height: auto;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	background-color: rgb(241, 241, 241);
}

.header-username {
	position: relative;
	width: 100%;
	margin: 0.5em 0;
	text-transform: uppercase;
}

.logout-button {
	background-color: rgb(160, 0, 0);
	width: 100%;
	height: 2.5em;
	margin: 0.5em 0;
	font-size: 1em;
	color: white;
	border-radius: 15px;
}

.logout-button:hover {
	cursor: pointer;
}
