@page "/comm-weights"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject IControllerConnection apiConn

<AuthorizeView>
    <Authorized>
        <div class="communicaiton-weights">
            @if (!initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!isAdmin)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <h3>Manage Communcation Mediums</h3>
                    <EditForm Model="percentagesDict" OnSubmit="@SubmitWeights" Context="formContext">
                        @foreach (var medium in percentagesDict.Keys)
                        {
                            <div class="comms-input-pair">
                                <p>
                                    @medium.Medium
                                    @if (percentagesDict[medium])
                                    {
                                        <InputNumber @bind-Value=medium.Weight class="" id="Weight" style="@PercentageInputStyle()" />
                                    }
                                    else
                                    {
                                        @medium.Weight
                                    }
                                    %
                                </p>
                            </div>
                            <div class="comms-input-pair">
                            </div>
                            <button @onclick="() => ClearPercentage(medium)">Clear</button>

                            @if (percentagesDict[medium])
                            {
                                <button @onclick="() => SavePercentage(medium)">Save</button>
                            }
                            else
                            {
                                <button @onclick="() => EditPercentage(medium)">Edit</button>
                            }

                            <hr />
                        }
                    </EditForm>
                    <p>Percentage left: @PercentageLeft %</p>
                    <button type="submit">Submit</button>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    bool overPercentageLimit = false;
    bool isAdmin = false;
    bool isSubmitting = false;
    bool initialized = false;
    int PercentageLeft
    {
        get
        {
            int total = 100;
            foreach (var percentage in percentagesDict.Keys)
            {
                total -= percentage.Weight;
            }
            return total;
        }
    }
    Dictionary<CommunicationPercentage, bool> percentagesDict;          // holds true if user selected for edit

    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("setPageTitle", "Create Team");
        isAdmin = await apiConn.IsProcessingUserAnAdmin(Http);
        if (isAdmin)
            await GetCommunicationPercentages();

        initialized = true;
    }

    protected async Task GetCommunicationPercentages()
    {
        var token = await apiConn.GetAPITokenAsync();
        if (token != null)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                var percentages = await Http.GetFromJsonAsync<List<CommunicationPercentage>>($"api/communication/weights");
                InitializeDictionary(percentages);
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    private void InitializeDictionary(List<CommunicationPercentage> percentages)
    {
        percentagesDict = new Dictionary<CommunicationPercentage, bool>();
        foreach (var medium in percentages)
        {
            percentagesDict.Add(medium, false);
        }
    }

    private bool SavePercentage(CommunicationPercentage medium)
    {
        if (PercentageLeft >= 0)
        {
            percentagesDict[medium] = false;
            return true;
        }
        else
        {
            medium.Weight += PercentageLeft;
            overPercentageLimit = true;
            return false;
        }
    }
    private void EditPercentage(CommunicationPercentage selectedMedium)
    {
        var toggledMedium = GetToggledMedium();
        if (toggledMedium != null)
        {
            if (SavePercentage(toggledMedium))                          // If input value is less than % left only then toggle the other medium
                percentagesDict[selectedMedium] = true;
        }
        else
            percentagesDict[selectedMedium] = true;                     // If no previous medium is toggled

    }
    private void ClearPercentage(CommunicationPercentage medium)
    {
        medium.Weight = 0;
    }
    private CommunicationPercentage GetToggledMedium()
    {
        foreach (var medium in percentagesDict.Keys)
        {
            if (percentagesDict[medium])
                return medium;
        }
        return null;
    }

    private void SubmitWeights()
    {
        isSubmitting = true;

        // TODO: send data to api endpoint

        isSubmitting = false;
    }

    private string PercentageInputStyle()
    {
        return PercentageLeft <= 0 ? "border: 1px solid red" : "";
    }
}
