@page "/comm-weights"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject IControllerConnection apiConn

<AuthorizeView>
    <Authorized>
        <div class="communicaiton-weights">
            @if (!initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!isAdmin)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <h3>Manage Communcation Mediums</h3>

                    <EditForm Model="weights" OnSubmit="@SendWeights" Context="formContext">
                        @foreach (var medium in weights)
                        {
                            <div class="comms-input-pair">
                                <InputText @bind-Value=medium.Medium class="form-control" id="Medium" />
                            </div>
                            <div class="comms-input-pair">
                                <InputNumber @bind-Value=medium.Weight class="form-control" id="Weight" />%
                            </div>
                            <button @onclick="() => RemoveMedium(medium)">Remove</button>

                            <hr />
                        }
                    </EditForm>
                    <button @onclick="() => AddNewMedium()">Add</button>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    bool isAdmin = false;
    bool isSubmitting = false;
    bool initialized = false;
    bool serverMessageIsError = false;
    int percentageLeft = 0;
    List<CommunicationWeight> weights;

    protected override async Task OnInitializedAsync()
    {
        percentageLeft = 100;
        await jsRuntime.InvokeVoidAsync("setPageTitle", "Create Team");
        isAdmin = await apiConn.IsProcessingUserAnAdmin(Http);
        if (isAdmin)
            await GetCommunicationWeights();
        
        initialized = true;
    }

    protected async Task GetCommunicationWeights()
    {
        var token = await apiConn.GetAPITokenAsync();
        if (token != null)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                weights = await Http.GetFromJsonAsync<List<CommunicationWeight>>($"api/communication/weights");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }

    private void AddNewMedium()
    {
        weights.Add(new CommunicationWeight());
    }

    private void RemoveMedium(CommunicationWeight medium)
    {
        weights.Remove(medium);
    }

    private void SendWeights() { }
}
