@page "/comm-weights"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime jsRuntime
@inject IControllerConnection apiConn

<AuthorizeView>
    <Authorized>
        <div class="communicaiton-weights">
            @if (!initialized)
            {
                <p>Loading...</p>
            }
            else
            {
                if (!isAdmin)
                {
                    <p>You do not have access to this page. Click <a href="/">here</a> to go back.</p>
                }
                else
                {
                    <h3>CommunicationWeights</h3>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    bool isAdmin = false;
    bool isSubmitting = false;
    bool initialized = false;
    bool serverMessageIsError = false;
    List<CommunicationWeight> weights;

    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("setPageTitle", "Create Team");
        isAdmin = await apiConn.IsProcessingUserAnAdmin(Http);
        if (isAdmin)
        {
            await GetCommunicationWeights();
        }
        initialized = true;
    }

    protected async Task GetCommunicationWeights()
    {
        var token = await apiConn.GetAPITokenAsync();
        if (token != null)
        {
            try
            {
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
                weights = await Http.GetFromJsonAsync<List<CommunicationWeight>>($"api/communication/weights");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
        }
    }
}
