@page "/"

@inject CustomAuthState AuthState

@inject IJSRuntime JsRuntime
@inject IControllerConnection ApiConn

<div class="home">
    <AuthorizeView>
        <Authorized>
            <h1>Hi @context.User.GetUserDisplayName()!</h1>
            <p>Welcome to ECT!</p>
        </Authorized>
        <NotAuthorized>
            <h1>Welcome to Employee Connectivity Tracker!</h1>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("setPageTitle", "Home");
        await UpdateRecords();
        await CustomAuthState.GetUserPermissions(AuthState, ApiConn);
    }

    private async Task UpdateRecords()
    {
        Console.WriteLine(await ApiConn.UpdateDatabaseRecords());
    }
}
