@page "/"

@inject CustomAuthState AuthState
@inject DashboardState DashboardState

@inject IJSRuntime JsRuntime
@inject IControllerConnection ApiConn

<div class="home">
    <AuthorizeView>
        <Authorized>
            <h2>Hi @context.User.GetUserDisplayName()!</h2>
            <p>Welcome to ECT!</p>
        </Authorized>
        <NotAuthorized>
            <h2>Welcome to Employee Connectivity Tracker!</h2>
            <p>Please, <a href="authentication/login">Log in</a> to continue</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("setPageTitle", "Home");
        await UpdateRecords();
        await CustomAuthState.GetUserPermissions(AuthState, ApiConn);
        DashboardState.SetIsDrillDown(false);
    }

    private async Task UpdateRecords()
    {
        Console.WriteLine(await ApiConn.UpdateDatabaseRecords());
    }
}
