@page "/"

@inject NavState navState

@inject IJSRuntime jsRuntime
@inject IControllerConnection apiConn

<div class="home">
    <AuthorizeView>
        <Authorized>
            <h2>Hi @context.User.GetUserDisplayName()!</h2>
            <p>Welcome to ECT!</p>
        </Authorized>
        <NotAuthorized>
            <h2>Welcome to Employee Connectivity Tracker!</h2>
            <p>Please, <a href="authentication/login">Log in</a> to continue</p>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await jsRuntime.InvokeVoidAsync("setPageTitle", "Home");
        await UpdateRecords();
        await GetUserPermissions();
    }

    private async Task UpdateRecords()
    {
        Console.WriteLine(await apiConn.UpdateDatabaseRecords());
    }

    private async Task GetUserPermissions()
    {
        navState.SetIsAdmin(await apiConn.IsProcessingUserAnAdmin());
        navState.SetIsLeader(await apiConn.IsProcessingUserALeader());
    }
}
