@page "/move-members"
@inherits MoveMembersClass

<div class="move-members">
    <div class="team float-left">
        <h2>Team one</h2>
        <div class="team-selection">
            <input type="text" placeholder="team name" class="input" list="teams" />
        </div>
        <table>
            <thead>
                <tr>
                    <td lass="member-heading-left">Members</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Member &lt;email@email.com&gt;
                    </td>
                    <td>
                        <button type="button" class="remove-member">
                            &times;
                        </button>
                        <button type="button" class="move-member">
                            &rarr;
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="team float-right">
        <h2>Team two</h2>
        <div class="team-selection">
            <input type="text" placeholder="team name" class="input" list="teams" />
        </div>
        <table>
            <thead>
                <tr>
                    <td>Actions</td>
                    <td class="member-heading-right">Members</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="move-member">
                            &larr;
                        </button>
                        <button type="button" class="remove-member">
                            &times;
                        </button>
                    </td>
                    <td>
                        Member &lt;email@email.com&gt;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <datalist id="teams">
        <option>team 1</option>
        <option>team 2</option>
        <option>team 3</option>
    </datalist>
    <button type="button" class="move-members-submit">Submit</button>
</div>

@code{

}
